<html>
  <head>
    <title>User Info</title>
  </head>
  <body>
    <%= yield %>
    <p>There are <%= @users_info.count %> users with a total of <%= total_interests %> interests.</p>
  </body>
</html>