body {
  /* display: flex; */
  background-color: darkred;
  /* justify-content: center; */
}

#calculator {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 500px;
  padding: 20px;
  background-color: white;
}

.number {
  width: 45px;
  margin: 0 5px 0 5px;
}

#result {
  color: forestgreen;
}