<h2 class="content-subhead">Table of Contents</h2>

<div class="pure-menu">
  <ul class="pure-menu-list">
    <% @contents.each.with_index(1) do |chapter, idx| %>
      <li class="pure-menu-item">
        <a href="/chapters/<%= idx %>" class="pure-menu-link">Chapter <%= idx %>: <%= chapter %></a>
      </li>
    <% end %>
  </ul>
</div>
